/*=====================
  Footer Css 
==========================*/
.footer-wrap {
  margin: 0 auto;
  max-width: 767px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) 0;
  background-color: $theme-color;
  z-index: 3;
  @media only screen and (min-width: 767px) {
    max-width: 600px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .footer-item {
      opacity: 0.7;
      .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: calc(3px + (6 - 3) * ((100vw - 320px) / (1920 - 320)));
        img {
          width: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
          height: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
        }
        .icon {
          width: calc(26px + (32 - 26) * ((100vw - 320px) / (1920 - 320)));
          height: calc(26px + (32 - 26) * ((100vw - 320px) / (1920 - 320)));
          margin-bottom: -6px;
        }

        span {
          color: $white;
          margin-bottom: -3px;
          font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
        }
      }
      &.active {
        opacity: 1;
      }
    }
  }
  &.shop {
    padding-left: 15px;
    padding-right: 15px;
    max-width: calc(100vw - 30px);
    border-radius: 4px;
    bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    @media only screen and (min-width: 767px) {
      max-width: calc(600px - calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320))));
    }
    .footer {
      justify-content: space-between;
      .footer-item {
        opacity: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        > span {
          color: $white;
          &:last-of-type {
            font-weight: 600;
          }
        }
        > a {
          font-weight: 600;
          color: $white;
          line-height: 21px;
          margin-right: -7px;
          display: flex;
          align-items: center;
          gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
          [dir="rtl"] & {
            margin-left: -7px;
            margin-right: unset;
          }
          svg {
            margin-bottom: -2.2px;
            width: calc(24px + (28 - 24) * ((100vw - 320px) / (1920 - 320)));
            height: calc(24px + (28 - 24) * ((100vw - 320px) / (1920 - 320)));
            [dir="rtl"] & {
              transform-origin: center;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  &.footer-button {
    padding-left: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    max-width: calc(100vw - calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320))));
    border-radius: 4px;
    text-align: center;
    bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    @media only screen and (min-width: 767px) {
      max-width: calc(600px - calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320))));
    }

    a {
      width: 100%;
      display: block;
      color: $white;
      font-weight: 600;
    }
  }
}
