/*=====================
   Header Css 
==========================*/
.header {
  padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo-wrap {
    display: flex;
    align-items: center;
    gap: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320)));
    a {
      display: contents;
      .icon {
        width: calc(27px + (32 - 27) * ((100vw - 320px) / (1920 - 320)));
        height: calc(27px + (32 - 27) * ((100vw - 320px) / (1920 - 320)));
        cursor: pointer;
        [dir="rtl"] & {
          transform-origin: center;
          transform: rotate(180deg);
        }
      }
    }
    .logo {
      width: calc(80px + (110 - 80) * ((100vw - 320px) / (1920 - 320)));
      height: auto;
    }
    .fk-logo {
      width: calc(24px + (34 - 24) * ((100vw - 320px) / (1920 - 320)));
      height: auto;
    }
  }

  .avatar-wrap {
    display: flex;
    align-items: center;
    gap: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
    > span {
      display: flex;
      align-items: center;
      gap: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    }
    .icon {
      margin-top: -2px;
      width: calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320)));
      height: calc(24px + (29 - 24) * ((100vw - 320px) / (1920 - 320)));
    }
    .icon-h {
      width: calc(22px + (26 - 22) * ((100vw - 320px) / (1920 - 320)));
      height: calc(22px + (26 - 22) * ((100vw - 320px) / (1920 - 320)));
    }
    .lord-icon {
      margin-bottom: -3px;
    }
    .avatar {
      width: calc(35px + (45 - 35) * ((100vw - 320px) / (1920 - 320)));
      height: calc(35px + (45 - 35) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 100%;
    }
  }
}
