/*=====================
    Reset CSS start
==========================*/

section,
.section-t-space {
  padding-top: 110px;
}
.section-b-space {
  padding-bottom: 110px;
}

.small-t-space {
  padding-top: 50px;
}

.small-b-space {
  padding-bottom: 50px;
}

.custom-padding  {
  padding: 0 100px;
}

@media (min-width: 1430px) {
  .container {
    max-width: 1400px; } }