/*=====================
    Typography CSS start
==========================*/

body {
  font-family: 'Rubik', sans-serif;
  position: relative;
  font-size: 14px;
  margin: 0;
  background-color: $white;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display: inline-block;
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.3;
}

a {
  transition: 0.5s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    transition: 0.5s ease;
  }
  &:focus {
    outline: none;
  }
}

:focus {
  outline: none;
}

.form-control {
  font-size: 14px;
  &:focus {
    box-shadow: none;
  }
}

h1 {
  font-size: 43px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  color: $white;
  text-transform: capitalize;
  span {
    font-size: 43px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

h3 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
}

h4 {
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}

h5 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

span {
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: $content-color;
  margin-bottom: 0;
}