/*=====================
    Responsive CSS start
==========================*/

@media (max-width: 480px) {
    .col-xs-6 {
        width: 100%;
    }
    .technology-section {
        .tech-wrap {
            min-height: auto;
            .content {
                ul {
                    column-count: 2;
                }
            }
        }
    }
}