// utils scss files
@import "utils/variables";

// base scss files
@import "base/reset";
@import "base/typography";

// components scss files
@import "components/animation";
@import "components/button";
@import "components/title";
@import "components/form";
@import "components/ratio";


// layout scss files
@import "layout/nav";
@import "layout/header";
@import "layout/home";

// pages
@import "pages/home-page";
@import "pages/hire";
@import "pages/contact";
@import "pages/career";


// themes scss files
@import "themes/responsive";
