/// Font color ///
$title-color: #222222;
$content-color: #777777;
$content-light: #cacaca;

/// Main Color ///
$black: #000000;
$white: #ffffff;
$theme-color: #0baf9a;
$theme-light-color: #edf8f8;
$grey-light: #fafafa;
$rating: #ffbf13;
$theme-blue: #effefc;
$theme-yellow: #fff9d8;
$theme-light-yellow: #fff8ed;
$theme-orange: #fff2ec;
$theme-orange-light: #fff6f3;
$theme-pink: #fff2f2;
$theme-purple: #fdf7ff;
$theme-danger: #e93939;

$sk-bg: #f3f3f3;

/// Font Familly ///
$font-1: "Mulish", sans-serif;

/// Border color ///
$border-color1: #f1f1f1;
$border-color2: #ceefeb;

/// Border ///
$border1: 1px solid $border-color1;
$border2: 1px solid $border-color2;

///Box Shadow Color ///
$box-shadow-color1: #fafafa;
$box-shadow-color2: #f7f7f7;

/// Main box shadow ///
$box-shadow1: 0px -2px 8px $box-shadow-color1;
$box-shadow2: 0px 4px 11px 2px $box-shadow-color2;

/// Dark ///
$title-dark-color: #222222;
$white-text-dark: #f0f0f0;
$content-dark-color: #777777;
