/*=====================
    Animation CSS start
==========================*/
// rotating text
.rotating-text {
    font-weight: 600;
    font-size: 36px;
    color: white;
    position: relative;
    h1 {
        display: inline-flex;
        margin: 0;
        vertical-align: top;
        .word {
            position: absolute;
            display: flex;
            opacity: 0;

            span {
                text-transform: capitalize;
            }
            .letter {
                transform-origin: center center 25px;

                &.out {
                    transform: rotateX(90deg);
                    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
                }
                &.in {
                    transition: 0.38s ease;
                }
                &.behind {
                    transform: rotateX(-90deg);
                }
            }
        }
    }
    &::after {
        content: "<h1>";
        font-family: "Allura", cursive;
        position: absolute;
        font-size: 22px;
        left: 0;
        top: -30px;
        opacity: 0.4;
    }
    &::before {
        content: "</h1>";
        font-family: "Allura", cursive;
        position: absolute;
        font-size: 22px;
        right: 60px;
        bottom: -40px;
        opacity: 0.4;
    }
}

// cube animation
.cubes {
    .cube {
        position: absolute;
        height: 100px;
        width: 100px;
        margin: 0;
        animation: cube-fade-in 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        will-change: transform;
        z-index: -1;
        bottom: 50px;
        @keyframes cube-fade-in {
            0% {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        * {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .shadow {
            background: #07427a;
            top: 40%;
        }

        .sides {
            transform-style: preserve-3d;
            perspective: 600px;

            div {
                backface-visibility: hidden;
                will-change: transform;
            }

            .front {
                transform: rotateY(0deg) translateZ(50px);
            }
            .back {
                transform: rotateY(-180deg) translateZ(50px);
            }
            .left {
                transform: rotateY(-90deg) translateZ(50px);
            }
            .right {
                transform: rotateY(90deg) translateZ(50px);
            }
            .top {
                transform: rotateX(90deg) translateZ(50px);
            }
            .bottom {
                transform: rotateX(-90deg) translateZ(50px);
            }
        }
    }
}

.shapes-container {
    img {
        max-width: 100%;
        height: auto;
        position: absolute;
        &.tech-bg {
            position: absolute;
            left: 34%;
            z-index: -1;
            filter: invert(0.1);
        }
        &.dots1 {
            right: 3%;
            z-index: -1;
            width: 11%;
            filter: invert(0.22);
            bottom: 20px;
        }
        &.dots2 {
            left: 3%;
            z-index: -1;
            width: 10%;
            filter: invert(0.22);
            top: 9%;
        }
    }
}

@keyframes sonarEffect {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.7;
		box-shadow: 0 0 0 2px rgba(178, 221, 76, 1), 0 0 10px 10px rgba(178, 221, 76, 1), 0 0 0 10px rgba(178, 221, 76, 1);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(178, 221, 76, 1), 0 0 10px 10px rgba(178, 221, 76, 1), 0 0 0 10px rgba(178, 221, 76, 1);
		transform: scale(1.5);
		opacity: 0;
	}
}


@keyframes sonarEffect1 {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.7;
		box-shadow: 0 0 0 2px #ace9dd, 0 0 10px 10px #ace9dd, 0 0 0 10px #ace9dd;
	}
	100% {
		box-shadow: 0 0 0 2px #ace9dd, 0 0 10px 10px #ace9dd, 0 0 0 10px #ace9dd;
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes sonarEffect2 {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.7;
		box-shadow: 0 0 0 2px #ddc6e7, 0 0 10px 10px #ddc6e7, 0 0 0 10px #ddc6e7;
	}
	100% {
		box-shadow: 0 0 0 2px #ddc6e7, 0 0 10px 10px #ddc6e7, 0 0 0 10px #ddc6e7;
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes sonarEffect3 {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.7;
		box-shadow: 0 0 0 2px #f6d3af, 0 0 10px 10px #f6d3af, 0 0 0 10px #f6d3af;
	}
	100% {
		box-shadow: 0 0 0 2px #f6d3af, 0 0 10px 10px #f6d3af, 0 0 0 10px #f6d3af;
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes sonarEffect4 {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.7;
		box-shadow: 0 0 0 2px #ebbab4, 0 0 10px 10px #ebbab4, 0 0 0 10px #ebbab4;
	}
	100% {
		box-shadow: 0 0 0 2px #ebbab4, 0 0 10px 10px #ebbab4, 0 0 0 10px #ebbab4;
		transform: scale(1.5);
		opacity: 0;
	}
}