/*=====================
    Animation CSS start
==========================*/
// rotating text
.rotating-text {
    font-weight: 600;
    font-size: 36px;
    color: white;
    position: relative;
    h1 {
        display: inline-flex;
        margin: 0;
        vertical-align: top;
        .word {
            position: absolute;
            display: flex;
            opacity: 0;

            span {
                text-transform: capitalize;
            }
            .letter {
                transform-origin: center center 25px;

                &.out {
                    transform: rotateX(90deg);
                    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
                }
                &.in {
                    transition: 0.38s ease;
                }
                &.behind {
                    transform: rotateX(-90deg);
                }
            }
        }
    }
    &::after {
        content: "<h1>";
        font-family: "Allura", cursive;
        position: absolute;
        font-size: 22px;
        left: 0;
        top: -30px;
        opacity: 0.4;
    }
    &::before {
        content: "</h1>";
        font-family: "Allura", cursive;
        position: absolute;
        font-size: 22px;
        right: 60px;
        bottom: -40px;
        opacity: 0.4;
    }
}

.cubes {
    .cube {
        position: absolute;
        height: 100px;
        width: 100px;
        margin: 0;
        animation: cube-fade-in 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        will-change: transform;
        z-index: -1;
        bottom: 50px;
        @keyframes cube-fade-in {
            0% {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        * {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .shadow {
            background: #07427a;
            top: 40%;
        }

        .sides {
            transform-style: preserve-3d;
            perspective: 600px;

            div {
                backface-visibility: hidden;
                will-change: transform;
            }

            .front {
                transform: rotateY(0deg) translateZ(50px);
            }
            .back {
                transform: rotateY(-180deg) translateZ(50px);
            }
            .left {
                transform: rotateY(-90deg) translateZ(50px);
            }
            .right {
                transform: rotateY(90deg) translateZ(50px);
            }
            .top {
                transform: rotateX(90deg) translateZ(50px);
            }
            .bottom {
                transform: rotateX(-90deg) translateZ(50px);
            }
        }
    }
}
