/*=====================
    Button CSS start
==========================*/

button:focus {
  outline: none;
}


.btn-theme {
  min-width: 180px;
  padding: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320))) calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, $theme-color2, $theme-color1, $theme-color1, $theme-color2);
  box-shadow: 0 5px 15px rgba(#2780d4, .4);
  transition: all .4s ease-in-out;
  text-transform: uppercase;
  border-radius: 10px;
  &:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    color: $white;
  }
  &.btn-sm {
    text-transform: capitalize;
    padding: 10px 24px;
    width: auto;
  }
}


.btn-outline {
  color: $theme-color1;
  border: 1px solid $theme-color1;
  min-width: 180px;
  padding: 13px 30px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: all .4s ease-in-out;
  text-transform: uppercase;
  border-radius: 6px;
  &:hover {
    background-color: #eb3941;
    color: $white;
  }
}