/*=====================
    form CSS start
==========================*/
.form-control {
    border: 1px solid #eeeeee;
    border-radius: 8px;
}

.floating-height {
    height: 46px;
    line-height: 32px;
}