/*=====================
    Title CSS start
==========================*/
.title {
    text-transform: capitalize;
    text-align: center;
    position: relative;
    h2 {
        font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1920 - 320)));
        position: relative;
        display: inline-block;
        text-transform: initial;
        span {
            font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1920 - 320)));
            color: $theme-color1;
        }
    }
    p {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        // width: 56%;
        margin-top: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
        color: $content-color;
        @media (max-width: 1199px) {
            width: 50%;
        }
        @media (max-width: 991px) {
            width: 70%;
        }   
        @media (max-width: 768px) {
            width: 100%;
        }   
    }
    img {
        position: absolute;
        width: 120px;
        left: 50%;
        transform: translateX(-50%) rotate(-25deg);
        z-index: -1;
        top: 0px;
        opacity: 0.15;
        animation-name: run;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    @keyframes run {
        0% {
          left: 49.2%;
        }
        50% {
          left: 50%;
        }
        100% {
          left: 49.2%;    
        }
      }
    h5 {
        color: $content-color;
        margin-top: -3px;
        font-weight: 400;
        margin-bottom: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
        font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
    .title-effect {
        -webkit-text-stroke: 1px #cee7ff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 75px;
        font-weight: 700;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
    }
    &.text-start {
        .title-effect {
            left: 0;
            transform: none;
        }
    }
}