/*=====================
    Title CSS start
==========================*/
.title {
    text-transform: capitalize;
    text-align: center;
    p {
        font-size: 18px;
        width: 60%;
        margin: 15px auto 0;
        color: $content-color;
    }
    h5 {
        color: $content-color;
        margin-top: -3px;
        font-weight: 400;
    }
}