/*=====================
    Header CSS start
==========================*/
header {
    position: absolute;
    z-index: 2;
    padding: 0;
    width: 100%;
    top: 15px;
    .top-bar {
        display: flex;
        align-items: center;
        .top-details {
            margin-left: auto;
            li {
                a {
                    color: $title-color;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    i {
                        color: #eb3b43;
                        margin-right: 10px;
                    }
                }
                + li {
                    margin-left: 14px;
                }
            }
        }
        .web-logo {
            width: 210px;
            color: $theme-color;
            h3 {
                font-size: 30px;
            }
        }
    }
    &.fixed {
        .nav-section {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 0;
            background-color: $white;
            box-shadow: 15px 30px 50px rgba(23, 32, 90, 0.06);
            .header-section {
                box-shadow: none;
            }
        }
    }
}

.nav-section {
    margin-top: 15px;
    .header-section {
        background-color: $white;
        padding: 12px;
        border-radius: 15px;
        box-shadow: 15px 30px 50px rgba(23, 32, 90, 0.06);
    }
}

.header-section {
    display: flex;
    align-items: center;
    .nav {
        .nav-link {
            font-size: 16px;
            color: $title-color;
            text-transform: capitalize;
            font-weight: 600;
            letter-spacing: 0.02em;
        }
    }
}