/*=====================
    Home CSS start
==========================*/
.home-section {
  background-color: $dark-bg;
  height: 100vh;
  display: flex;
  align-items: center;
}

#chartdiv {
  animation: height-auto infinite 250s;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 30%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.5) 100%
      );
      animation: drop 7s 0s infinite;
    }
    &:nth-child(1) {
      margin-left: -20%;
      &:after {
        animation-delay: 2s;
      }
    }
    &:nth-child(3) {
      margin-left: 20%;
      &::after {
        animation-delay: 2.5s;
      }
    }
    &:nth-child(4) {
      left: 70%;
      &::after {
        animation-delay: 3s;
      }
    }
    &:nth-child(5) {
      left: 90%;
      &::after {
        animation-delay: 5s;
      }
    }
  }
  &.dark-lines {
    .line {
      background: rgba($black, 0.08);
    }
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes height-auto {
  0% {
    height: 500px;
  }

  100% {
    height: 450px;
  }
}

// home vector
.home-vector {
  // position: relative;
  // background-color: rgba($theme-color, 0.035);
  // border-radius: 25px;
  // padding: 100px;
  position: relative;
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 25px;
    padding: 100px;
    background-image: url(https://image.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  .home-content {
    display: flex;
    align-items: center;
    height: 100%;
    h1 {
      color: $dark-bg;
      margin-bottom: 20px;
      span.effect {
        position: relative;
        z-index: 1;
        &:after {
          content: "";
          position: absolute;
          bottom: 7px;
          left: 0;
          z-index: -1;
          height: 17px;
          width: 100%;
          background-color: #fad8b0;
        }
      }
    }
    p {
      line-height: 30px;
    }
    h3 {
      line-height: 33px;
      margin-bottom: 30px;
      font-size: 27px;
      text-transform: capitalize;
      font-weight: 400;
    }
    .line-span {
      display: block;
      width: 90px;
      height: 5px;
      background-color: $theme-color;
      margin-bottom: 30px;
    }
  }
  .vector-section {
    img {
      animation: mover 1s infinite  alternate;
    }
  }
  .bottom-arrow {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 2px 8px 0px #ddd;
    svg {
      stroke: $dark-bg;
    }
  }
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}