/*=====================
    Home CSS start
==========================*/
// home vector
.home-vector {
  position: relative;
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 0;
  height: 100vh;
  background-image: url(https://image.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  z-index: 1;
  padding-top: 70px;
  display: flex;
  align-items: center;
  &:after {
    // content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(https://themes.pixelstrap.com/multikart/assets/images/game/back.png);
    height: 99px;
    z-index: -1;
  }
  .home-content {
    display: flex;
    align-items: center;
    height: 100%;
    h1 {
      color: $title-color;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 48px;
      line-height: 1.3;
      span.effect {
        position: relative;
        z-index: 1;
        &:after {
          content: "";
          position: absolute;
          bottom: 7px;
          left: 0;
          z-index: -1;
          height: 17px;
          width: 100%;
          background-color: #fad8b0;
        }
      }
    }
    p {
      line-height: 30px;
    }
    h3 {
      line-height: 28px;
      margin-bottom: 30px;
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: 0.02em;
      max-width: 80%;
    }
    .line-span {
      display: block;
      width: 90px;
      height: 5px;
      background-color: $theme-color;
      margin-bottom: 30px;
    }
    .bottom-sec {
      display: flex;
      align-items: center;
      margin-top: 16px;
      .rating-part {
        margin-left: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 14px;
        .rating-detail {
          margin-left: 8px;
          li {
            svg {
              width: 18px;
              fill: #f8a512;
              stroke: #f8a512;
            }
            + li {
              margin-left: 4px;
            }
          }
          .clutch-img {
            width: 60px;
          }
        }
      }
      h2 {
        font-weight: 500;
        font-size: 29px;
        padding-top: 4px;
      }
    }
  }
  .vector-section {
    img {
      // animation: mover 1s infinite alternate;
    }
  }
  .bottom-arrow {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 2px 8px 0px #ddd;
    svg {
      stroke: $title-color;
    }
  }
  &.inner-home {
    height: 38vh;
    background-image: none;
    background-color: #fbf3ec;
    padding-top: 130px;
    background-color: rgba(255, 255, 255, 0.83);
    background-image: url(https://image.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }
}

.breadcrumb-section {
  text-align: center;
  h2 {
    margin-top: -9px;
  }
  .breadcrumb {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 6px;
    .breadcrumb-item {
      a {
        color: $title-color;
      }
    }
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
