/*=====================
    Reset CSS start
==========================*/
section,
.section-t-space {
  padding-top: 100px; }

.section-b-space {
  padding-bottom: 100px; }

.small-t-space {
  padding-top: 50px; }

.small-b-space {
  padding-bottom: 50px; }

.custom-padding {
  padding: 0 100px; }

@media (min-width: 1430px) {
  .container {
    max-width: 1400px; } }

/*=====================
    Typography CSS start
==========================*/
body {
  font-family: 'Rubik', sans-serif;
  position: relative;
  font-size: 14px;
  margin: 0;
  background-color: #ffffff; }

html {
  scroll-behavior: smooth; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

li {
  display: inline-block;
  font-size: 14px; }

p {
  font-size: 14px;
  line-height: 1.3; }

a {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  a:focus {
    outline: none; }

:focus {
  outline: none; }

.form-control {
  font-size: 14px; }
  .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  color: #ffffff;
  text-transform: capitalize; }
  h1 span {
    font-size: 58px; }

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0; }

h3 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0; }

h4 {
  font-size: 18px;
  line-height: 1.3;
  margin: 0; }

h5 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0; }

h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin: 0; }

span {
  font-size: 14px; }

p {
  font-size: 16px;
  line-height: 1.5;
  color: #868686;
  margin-bottom: 0; }

/*=====================
    Animation CSS start
==========================*/
.rotating-text {
  font-weight: 600;
  font-size: 36px;
  color: white;
  position: relative; }
  .rotating-text h1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    vertical-align: top; }
    .rotating-text h1 .word {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      opacity: 0; }
      .rotating-text h1 .word span {
        text-transform: capitalize; }
      .rotating-text h1 .word .letter {
        -webkit-transform-origin: center center 25px;
                transform-origin: center center 25px; }
        .rotating-text h1 .word .letter.out {
          -webkit-transform: rotateX(90deg);
                  transform: rotateX(90deg);
          -webkit-transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
          transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2); }
        .rotating-text h1 .word .letter.in {
          -webkit-transition: 0.38s ease;
          transition: 0.38s ease; }
        .rotating-text h1 .word .letter.behind {
          -webkit-transform: rotateX(-90deg);
                  transform: rotateX(-90deg); }
  .rotating-text::after {
    content: "<h1>";
    font-family: "Allura", cursive;
    position: absolute;
    font-size: 22px;
    left: 0;
    top: -30px;
    opacity: 0.4; }
  .rotating-text::before {
    content: "</h1>";
    font-family: "Allura", cursive;
    position: absolute;
    font-size: 22px;
    right: 60px;
    bottom: -40px;
    opacity: 0.4; }

.cubes .cube {
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 0;
  -webkit-animation: cube-fade-in 2s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: cube-fade-in 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  z-index: -1;
  bottom: 50px; }

@-webkit-keyframes cube-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

@keyframes cube-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }
  .cubes .cube * {
    position: absolute;
    height: 100%;
    width: 100%; }
  .cubes .cube .shadow {
    background: #07427a;
    top: 40%; }
  .cubes .cube .sides {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 600px;
            perspective: 600px; }
    .cubes .cube .sides div {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      will-change: transform; }
    .cubes .cube .sides .front {
      -webkit-transform: rotateY(0deg) translateZ(50px);
              transform: rotateY(0deg) translateZ(50px); }
    .cubes .cube .sides .back {
      -webkit-transform: rotateY(-180deg) translateZ(50px);
              transform: rotateY(-180deg) translateZ(50px); }
    .cubes .cube .sides .left {
      -webkit-transform: rotateY(-90deg) translateZ(50px);
              transform: rotateY(-90deg) translateZ(50px); }
    .cubes .cube .sides .right {
      -webkit-transform: rotateY(90deg) translateZ(50px);
              transform: rotateY(90deg) translateZ(50px); }
    .cubes .cube .sides .top {
      -webkit-transform: rotateX(90deg) translateZ(50px);
              transform: rotateX(90deg) translateZ(50px); }
    .cubes .cube .sides .bottom {
      -webkit-transform: rotateX(-90deg) translateZ(50px);
              transform: rotateX(-90deg) translateZ(50px); }

/*=====================
    Button CSS start
==========================*/
button:focus {
  outline: none; }

.btn-theme {
  width: 200px;
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#eb3941), color-stop(#f15e64), color-stop(#e14e53), to(#e2373f));
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  -webkit-box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
          box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .btn-theme:hover {
    background-position: 100% 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

/*=====================
    Title CSS start
==========================*/
.title h6 {
  color: #c6171c; }

.title p {
  font-size: 20px;
  line-height: 1.5;
  color: #868686; }

.title-sec {
  text-transform: capitalize;
  text-align: center; }
  .title-sec h5 {
    color: #868686; }

/*=====================
    form CSS start
==========================*/
/*=====================
    Ratio CSS start
==========================*/
.ratio_40 .bg-size:before {
  padding-top: 40%;
  content: "";
  display: block; }

.ratio_45 .bg-size:before {
  padding-top: 45%;
  content: "";
  display: block; }

.ratio2_1 .bg-size:before {
  padding-top: 50%;
  content: "";
  display: block; }

.ratio_55 .bg-size:before {
  padding-top: 55%;
  content: "";
  display: block; }

.ratio_59 .bg-size:before {
  padding-top: 59%;
  content: "";
  display: block; }

.ratio2_3 .bg-size:before {
  padding-top: 60%;
  content: "";
  display: block; }

.ratio3_2 .bg-size:before {
  padding-top: 66.66%;
  content: "";
  display: block; }

.ratio_90 .bg-size:before {
  padding-top: 93%;
  content: "";
  display: block; }

.ratio_landscape .bg-size:before {
  padding-top: 75%;
  content: "";
  display: block; }

.ratio_square .bg-size:before {
  padding-top: 100%;
  content: "";
  display: block; }

.ratio_asos .bg-size:before {
  padding-top: 127.7777778%;
  content: "";
  display: block; }

.ratio_portrait .bg-size:before {
  padding-top: 150%;
  content: "";
  display: block; }

.ratio1_2 .bg-size:before {
  padding-top: 200%;
  content: "";
  display: block; }

.b-top {
  background-position: top !important; }

.b-bottom {
  background-position: bottom !important; }

.b-center {
  background-position: center !important; }

.b-left {
  background-position: left !important; }

.b-right {
  background-position: right !important; }

.b_size_content {
  background-size: contain !important; }

/*=====================
    Header CSS start
==========================*/
header {
  padding: 22px 20px;
  width: 100%; }
  header .web-logo {
    width: 210px;
    color: #c6171c; }
    header .web-logo h3 {
      font-size: 30px; }
  header .header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-section .nav {
      margin-left: auto; }
      header .header-section .nav .nav-link {
        font-size: 20px;
        color: #111111;
        text-transform: uppercase; }
  header .menu-bar {
    margin-left: 14px; }
    header .menu-bar a {
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid rgba(0, 0, 0, 0.55);
      border-radius: 100%;
      color: #111111; }
      header .menu-bar a svg {
        width: 21px; }

/*=====================
    Home CSS start
==========================*/
.home-section {
  background-color: #111111;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#chartdiv {
  -webkit-animation: height-auto infinite 250s;
          animation: height-auto infinite 250s; }

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw; }
  .lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 30%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden; }
    .lines .line:after {
      content: "";
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.5)));
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 100%);
      -webkit-animation: drop 7s 0s infinite;
              animation: drop 7s 0s infinite; }
    .lines .line:nth-child(1) {
      margin-left: -20%; }
      .lines .line:nth-child(1):after {
        -webkit-animation-delay: 2s;
                animation-delay: 2s; }
    .lines .line:nth-child(3) {
      margin-left: 20%; }
      .lines .line:nth-child(3)::after {
        -webkit-animation-delay: 2.5s;
                animation-delay: 2.5s; }
    .lines .line:nth-child(4) {
      left: 70%; }
      .lines .line:nth-child(4)::after {
        -webkit-animation-delay: 3s;
                animation-delay: 3s; }
    .lines .line:nth-child(5) {
      left: 90%; }
      .lines .line:nth-child(5)::after {
        -webkit-animation-delay: 5s;
                animation-delay: 5s; }
  .lines.dark-lines .line {
    background: rgba(0, 0, 0, 0.08); }

@-webkit-keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 110%; } }

@keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 110%; } }

@-webkit-keyframes height-auto {
  0% {
    height: 500px; }
  100% {
    height: 450px; } }

@keyframes height-auto {
  0% {
    height: 500px; }
  100% {
    height: 450px; } }

.home-vector {
  position: relative;
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 25px;
  padding: 100px;
  background-image: url(https://image.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay; }
  .home-vector .home-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .home-vector .home-content h1 {
      color: #111111;
      margin-bottom: 20px; }
      .home-vector .home-content h1 span.effect {
        position: relative;
        z-index: 1; }
        .home-vector .home-content h1 span.effect:after {
          content: "";
          position: absolute;
          bottom: 7px;
          left: 0;
          z-index: -1;
          height: 17px;
          width: 100%;
          background-color: #fad8b0; }
    .home-vector .home-content p {
      line-height: 30px; }
    .home-vector .home-content h3 {
      line-height: 33px;
      margin-bottom: 30px;
      font-size: 27px;
      text-transform: capitalize;
      font-weight: 400; }
    .home-vector .home-content .line-span {
      display: block;
      width: 90px;
      height: 5px;
      background-color: #c6171c;
      margin-bottom: 30px; }
  .home-vector .vector-section img {
    -webkit-animation: mover 1s infinite  alternate;
            animation: mover 1s infinite  alternate; }
  .home-vector .bottom-arrow {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 60px;
    height: 60px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100%;
    -webkit-box-shadow: 0px 2px 8px 0px #ddd;
            box-shadow: 0px 2px 8px 0px #ddd; }
    .home-vector .bottom-arrow svg {
      stroke: #111111; }

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

/*=====================
    Home Page CSS start
==========================*/
.service-section {
  position: relative;
  z-index: 1; }
  .service-section .right-round {
    position: absolute;
    right: 0;
    text-align: right;
    top: -10%; }
  .service-section .service-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .service-section .service-box .service-icon {
      width: 70px;
      height: 70px;
      margin-right: 20px; }
    .service-section .service-box svg {
      margin-right: 40px;
      width: 60%; }
    .service-section .service-box img {
      width: 56px; }
    .service-section .service-box .service-content {
      width: 80%; }
      .service-section .service-box .service-content h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .service-section .service-box .service-content h3 svg, .service-section .service-box .service-content h3 img {
          width: 40px;
          margin-right: 20px; }
      .service-section .service-box .service-content p {
        margin-top: 15px; }
      .service-section .service-box .service-content .service-list {
        margin-bottom: -5px; }
        .service-section .service-box .service-content .service-list li {
          font-size: 16px;
          margin-bottom: 5px; }
          .service-section .service-box .service-content .service-list li a {
            color: #484848; }
          .service-section .service-box .service-content .service-list li + li {
            margin-left: 8px;
            padding-left: 8px;
            border-left: 1px solid #dddddd; }
  .service-section .section-row {
    -webkit-box-shadow: 0px 2px 20px rgba(123, 149, 162, 0.15);
            box-shadow: 0px 2px 20px rgba(123, 149, 162, 0.15);
    border-radius: 25px;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px; }

.logo-section {
  text-align: center; }
  .logo-section .slick-slider {
    padding-top: 50px; }
    .logo-section .slick-slider .logo-box img {
      margin: 0 auto; }
