/*=====================
   Modal CSS 
==========================*/

/// OffCanvas ///
.offcanvas {
  max-width: 600px;
  border-radius: 15px 15px 0px 0px;
  margin: 0 auto;
  .offcanvas-header {
    padding: 15px;
  }
  .offcanvas-body {
    padding: 15px;
  }
  .offcanvas-footer {
    padding: 15px;
  }
}

/// Language Start ///
.action-language {
  height: 246px !important;
  .offcanvas-body {
    padding: 15px;
    > h2 {
      margin-top: -4px;
      margin-bottom: 10px;
    }
    .list {
      margin-bottom: -3px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        padding: 0;

        a {
          display: flex;
          align-items: center;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            [dir="rtl"] & {
              margin-right: unset;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
/// Language End ///

/// Shop Filter Start ///
.shop-fillter {
  height: auto;
  .offcanvas-body {
    .catagories {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
      h5 {
        font-weight: 600;
      }
      .reset {
        font-weight: 600;
        color: $theme-color;
      }
    }
    .input-box {
      select {
        color: $content-color;
        font-weight: normal;
      }
    }
    .pack-size {
      margin-top: 30px;
      h5 {
        font-weight: 600;
        margin-bottom: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
      }
      .size {
        background-color: $grey-light;
        text-align: center;
        padding: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
        border: $border2;
        border-radius: 4px;
        transition: all 0.4s;
        span {
          color: $content-color;
        }
        &.active {
          background-color: $theme-color;
          span {
            color: $white;
          }
        }
      }
    }
    .prize-select {
      margin-top: 30px;
      h5 {
        font-weight: 600;
        margin-bottom: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
      }
      .pricing-slider {
        .irs-min,
        .irs-max {
          display: none;
        }
        .irs-from,
        .irs-to,
        .irs-single {
          background-color: $grey-light;
          color: $title-color;
          font-size: 14px;
          padding: 5px 10px;
        }
        .irs-from,
        .irs-to {
          display: inline-block;
          top: 50px;
        }

        .irs-from {
          left: 18px;
        }
        .irs-to {
          right: 18px;
          left: unset;
        }

        .irs-line {
          height: 4px;
          border: none;
          background-color: $grey-light;
          background: $grey-light;
          border-radius: 2px;
        }
        .irs-bar {
          height: 4px;
          border: none;
          background-color: $theme-color;
          background: $theme-color;
          border-radius: 2px;
        }
        .irs-slider {
          height: 14px;
          width: 14px;
          background: $theme-color;
          border: 1px solid $theme-color;
          top: 62%;
          transform: translateY(-50%);
          &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $theme-color;
            width: 12.5px;
            height: 12.5px;
            border-radius: 100%;
          }
        }
      }
    }
    .btn-box {
      margin-top: 60px;
      display: flex;
      align-items: center;
      gap: 17px;
      button {
        flex: 1 1 auto;
        font-weight: 600;
      }
    }
  }
}
/// Shop Filter End ///

/// select-offcanvas ///
.select-offcanvas {
  height: auto;
  .offcanvas-header {
    .offcanvas-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
  }
  .offcanvas-body {
    max-height: 197px;
    overflow-y: auto;
    .filter-row {
      li {
        .filter-col {
          border: $border1;
          background-color: $grey-light;
          padding: 11px 11px;
          font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
          border-radius: 5px;
          position: relative;
          .check {
            padding: 2px 8px 4px;
            border-radius: 0px 5px 0px 5px;
            background-color: $theme-color;
            transform: scale(0);
            position: absolute;
            right: -3px;
            top: -3px;
            [dir="rtl"] & {
              left: -3px;
              right: unset;
            }
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
        &.active {
          .filter-col {
            border-color: $theme-color;
            .check {
              transform: scale(0.8);
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
  .offcanvas-footer {
    display: flex;
    align-items: center;
    gap: 15px;
    button {
      flex: 1 1 auto;
    }
  }
}

/// Confirmation Start ///
.action-confirmation {
  text-align: center;
  height: auto;
  .offcanvas-body {
    padding: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
    .confirmation-box {
      h2 {
        margin-bottom: 15px;
      }
      .btn-box {
        display: flex;
        align-items: center;
        gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        button {
          flex: 1 1 auto;
          width: 100%;
          padding: 10px;
          margin-top: 15px;
          &:first-of-type {
            margin-right: 15px;
            [dir="rtl"] & {
              margin-right: unset;
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}
/// Confirmation End ///

/// Offer Canvas Start ///
.offer-offcanvas {
  border: none;
  height: auto;
  .offcanvas-header {
    background-color: $theme-color;
    border-radius: 15px 15px 0px 0px;
    padding: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    .offcanvas-title {
      font-weight: 600;
      color: $white;
      margin-top: -6px;
      margin-bottom: -7px;
    }
    span {
      color: $white;
      font-weight: normal;
      margin-top: -3px;
      margin-bottom: -3px;
    }
    .code {
      padding: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
      background-color: rgba($theme-light-color, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 5px;
      button {
        border-radius: 100px;
        padding-left: calc(14px + (34 - 14) * ((100vw - 320px) / (1920 - 320)));
        padding-right: calc(14px + (34 - 14) * ((100vw - 320px) / (1920 - 320)));
      }
    }
  }
  .offcanvas-body {
    padding: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
    h6 {
      font-weight: 600;
      margin-top: -3px;
      margin-bottom: -2px;
    }
    ol {
      padding-left: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: 0;
      li {
        margin-top: 15px;
        margin-bottom: -2px;
        text-align: justify;
        word-break: normal;
        hyphens: auto;
      }
    }
  }
}
/// Offer Canvas End ///

/// Add Address Offcanvas Start ///
.add-address {
  height: auto;
  .offcanvas-header {
    h5 {
      margin-top: -4px;
      margin-bottom: -4px;
    }
  }
  .offcanvas-body {
    .custom-form {
      .input-box {
        input {
          &:not(:first-of-type) {
            margin-top: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
          }
        }
      }
    }
  }
  .offcanvas-footer {
    .btn-box {
      display: flex;
      align-items: center;
      gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
      button {
        flex: 1 1 auto;
        width: 100%;
        padding: 10px;
        &:first-of-type {
          margin-right: 15px;
          [dir="rtl"] & {
            margin-right: unset;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
/// Add Address Offcanvas End ///

/// Add Card Offcanvas Start ///
.add-card {
  @extend .add-address;
  .offcanvas-body {
    .custom-form {
      .expriydate {
        padding-right: calc(40px + (44 - 40) * ((100vw - 320px) / (1920 - 320)));
        padding-left: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
        [dir="rtl"] & {
          padding-left: calc(40px + (44 - 40) * ((100vw - 320px) / (1920 - 320)));
          padding-right: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }
}
/// Add Card Offcanvas End ///
