/*=====================
  2.5 Modal  CSS
==========================*/

/// Chat Modal Start ///
.chat-modal {
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    .modal-fullscreen {
        width: 100%;
        .modal-header {
            border: none;
        }
        .modal-body {
            padding: 20px 0;
            text-align: center;
            width: 100%;

            height: auto;
            .content-box {
                position: relative;
                text-align: center;
                transform: translateY(-50%);
                top: 50%;
                img {
                    width: 50%;
                    border-radius: 100%;
                    border: $card-border;
                    box-shadow: $box-shadow;
                }
                > svg {
                    width: 30px;
                    height: 30px;
                    margin-top: 20px;
                }
                h3 {
                    margin-top: 23px;
                    font-size: 25px;
                }
                .call-option {
                    margin-top: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button {
                        @include bg-color();
                        padding: 8px;
                        border-radius: 100%;
                        &:nth-of-type(3) {
                            background-color: $theme-orange;
                            svg {
                                width: 35px;
                                height: 35px;
                            }
                        }
                        &:nth-of-type(5) {
                            background-color: $theme-green;
                        }
                        &:not(:last-of-type) {
                            margin-right: 15px;
                        }
                    }
                }
            }

            &.video-call {
                position: relative;
                padding: 0;
                .timer {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
                img {
                    border-radius: 0;
                    width: 100%;
                    height: 100%;
                }
                .content-box {
                    position: absolute;
                    left: 50%;
                    top: unset;
                    bottom: 80px;
                    transform: translateX(-50%);
                }
                .call-option {
                    align-items: flex-end;
                    .video-screen {
                        width: 100px;
                        height: 150px;
                        margin-right: 20px;
                        border: $card-border;
                        box-shadow: $box-shadow;
                        border-radius: 5px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    button {
                        margin-bottom: 25px;
                        @include bg-color();
                        background-color: $white;
                        &:nth-of-type(2) {
                            background-color: $theme-orange;
                            svg {
                                width: 24px;
                                height: 24px;
                            }
                        }
                        &:nth-of-type(3) {
                            background-color: $theme-green;
                            svg {
                                width: 24px;
                                height: 24px;
                            }
                        }
                        &:not(:last-of-type) {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}
/// Chat Modal End ///

/// Filter Modal Start ///
.filter-modal {
    width: 100%;
    .modal-dialog {
        max-width: 600px;
        margin: 0 auto;
        height: 100%;
    }
    .modal-content {
        border-radius: 0;
    }
    .close-modal {
        img {
            [class="dark"] & {
                filter: invert(1);
            }
        }
    }
    .modal-header {
        padding: 13px 15px;
        > span {
            background-image: $dark-gradient;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 18px;
                height: 18px;
                stroke: $white;
            }
        }
    }
    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 13px 15px;
        background-color: $white;
        a {
            width: 46%;
            text-align: center;
        }
        .reset-link {
            color: $title-color !important;
        }
        .btn {
            font-size: 14px;
            color: $white;
            padding: 12px;
        }
    }
    .modal-body {
        padding: 24px 15px;
        .filter-box {
            margin-bottom: 25px;
            .m-b-title1 {
                margin-bottom: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
            }
            select {
                padding: 7px 15px;
                font-size: 15px;
            }
        }
        .pricing-slider {
            .irs-min,
            .irs-max {
                display: none;
            }
            .irs-from,
            .irs-to,
            .irs-single {
                background-color: rgba($theme-orange, 0.2);
                color: $title-color;
                font-size: 12px;
            }
            .irs-line {
                height: 4px;
                border: none;
                background-color: $gray-light;
                background: $gray-light;
                border-radius: 2px;
            }
            .irs-bar {
                height: 4px;
                border: none;
                background-color: $theme-orange;
                background: $theme-orange;
                border-radius: 2px;
            }
            .irs-slider {
                height: 22px;
                width: 22px;
                background: $white;
                border: 1px solid $theme-orange;
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $theme-orange;
                    width: 12.5px;
                    height: 12.5px;
                    border-radius: 100%;
                }
            }
        }
    }
    .filter-color {
        margin: -6px;
        display: flex;
        align-items: center;
        li {
            margin: 4px 6px;
            .color-box {
                width: 28px;
                height: 28px;
                border-radius: 100%;
                position: relative;
                &:after {
                    content: "";
                    background-image: url("../images/e-commerce/icon/tick.svg");
                    top: 8px;
                    right: 5px;
                    height: 17px;
                    width: 17px;
                    background-repeat: no-repeat;
                    position: absolute;
                    transform: scale(0);
                    transition: all 0.3s ease;
                }
            }
            &.active {
                .color-box {
                    &:after {
                        transform: scale(0.8);
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
    .filter-row {
        li {
            .filter-col {
                border: 1px solid transparent;
                border: $card-border;
                box-shadow: $box-shadow;
                color: $title-color;
                font-size: 14px;
                padding: 7px;
                text-align: center;
                border-radius: 5px;
                transition: all 0.5s ease;
                text-transform: capitalize;
            }
            &.active {
                .filter-col {
                    background-color: rgba($theme-orange, 0.5);
                    transition: all 0.5s ease;
                }
            }
        }
    }
}
/// Filter Modal End ///

/// Off Canvass Css Start ///
.offcanvas {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    &.offcanvas-bottom {
        height: 45vh;
    }
    .offcanvas-header {
        background-color: $white;
        padding: 15px 15px;
        border-bottom: 1px solid rgba($border-color, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        > span {
            background-image: $dark-gradient;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 18px;
                height: 18px;
                stroke: $white;
            }
        }
        h5 {
            font-size: 20px;
        }
    }
    .offcanvas-body {
        background-color: $white;
        padding: 32px 15px;
        ul {
            li {
                .filter-col {
                    border: 1px solid rgba($border-color, 0.1);
                    color: $title-color;
                    font-size: 14px;
                    padding: 10px 15px 10px 15px;
                    text-align: center;
                    border-radius: 5px;
                    transition: all 0.5s ease;
                    text-transform: capitalize;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    background-color: $white;
                    position: relative;
                    &::after {
                        content: "";
                        background-image: url(../images/e-commerce/icon/tick.svg);
                        width: 18px;
                        height: 18px;
                        right: 10px;
                        top: 60%;
                        transition: all 0.3s;
                        opacity: 0;
                        transform: translateY(-50%);
                        position: absolute;
                        background-repeat: no-repeat;
                        [dir="rtl"] & {
                            right: unset;
                            left: 10px;
                        }
                    }
                    span {
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        margin-right: 10px;
                        [dir="rtl"] & {
                            margin-right: unset;
                            margin-left: 10px;
                        }
                    }
                }
                &.active {
                    .filter-col {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .offcanvas-footer {
        border-top: 1px solid rgba($border-color, 0.1);
        display: flex;
        align-items: center;
        padding: 15px 15px;
        background-color: $white;
        .btn {
            font-size: 14px;
            box-shadow: none;
            width: 100%;
            padding: 12px;
            &:first-of-type {
                margin-right: 16px;
                font-weight: 400;
                background: $white;
                color: $title-color;
                [dir="rtl"] & {
                    margin-left: 16px;
                    margin-right: unset;
                }
            }
        }
    }
    &.history {
        height: 80vh;
        .offcanvas-body {
            padding: 15px;
            > div {
                h3 {
                    font-size: 14px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    font-weight: 400;
                }
                &:not(:first-of-type) {
                    padding: 15px 0;
                }
            }
            .filter-col {
                color: $content-color;
            }
        }
    }
}
/// Off Canvass Css End ///

/*=====================
  Action Sheet
==========================*/
/// Action ///
.action {
    overflow: hidden;
    height: auto !important;
    &.offcanvas {
        border-radius: 15px 15px 0 0;
    }
}
/// Share start ///
.action-share {
    .offcanvas-body {
        ul {
            li {
                .filter-col {
                    padding-top: 0;
                    padding-bottom: 0;
                    border: none;
                    a {
                        line-height: 9px;
                        display: flex;
                        align-items: center;
                        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                    }
                    .icon {
                        width: 30px;
                        height: 30px;

                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        &.facebook {
                            background-color: $facebook;
                        }
                        &.whatsapp {
                            background-color: $whatsapp;
                        }
                        &.twitter {
                            background-color: $twitter;
                        }
                        &.linkdin {
                            background-color: $linkdin;
                        }
                        &.instagram {
                            background: $instagram;
                        }
                        &.google {
                            background: $google;
                        }
                        svg {
                            width: 20px;
                            height: 20px;
                            fill: $white;
                        }
                    }
                }
            }
            &.grid {
                li {
                    .filter-col {
                        justify-content: center;
                        a {
                            flex-direction: column;
                            align-items: center;
                            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                            .icon {
                                width: 50px;
                                padding: 8px;
                                height: 50px;
                                margin-right: 0;
                                margin-bottom: 10px;
                                border-radius: 5px;
                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
/// Share End ///

/// Success Start ///
.action-success {
    .success-box {
        text-align: center;
        .success-icon {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 15px;
            font-size: 40px;
            color: $white;
            svg {
                stroke: $white;
                width: 35px;
                height: 35px;
            }
        }
        h2 {
            margin-bottom: 10px;
        }
        p {
            color: $content-color;
        }
    }
}
/// Success End ///

/// Cookies Start ///
.action-cookies {
    .offcanvas-body {
        text-align: center;
        .cookies-box {
            .cookies {
                width: 120px;
                margin-bottom: 15px;
            }
            h2 {
                margin-bottom: 15px;
            }
            .btn {
                padding: 10px 40px;
                margin-top: 15px;
            }
        }
    }
}
/// Cookies End ///

/// Confirmation Start ///
.action-confirmation {
    text-align: center;
    .offcanvas-body {
        padding: calc(25px + (32 - 25) * ((100vw - 320px) / (1920 - 320)));
        .confirmation-box {
            h2 {
                margin-bottom: 15px;
            }
            .btn-box {
                margin: 0 auto;
                .btn {
                    background: unset;
                    border: none;
                    box-shadow: none;
                    padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(35px + (40 - 35) * ((100vw - 320px) / (1920 - 320)));
                    &:not(:last-of-type) {
                        margin-right: 14px;
                    }
                }
            }
        }
    }
}
/// Confirmation End ///

// Language Start ///
.action-language {
    @extend.action-share;

    .offcanvas-body {
        padding: 30px;
        .filter-row {
            li {
                padding: 0;
                .filter-col {
                    a {
                        display: flex;
                        align-items: center;
                        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
                        img {
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                            [dir="rtl"] & {
                                margin-right: 10px;
                                margin-left: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Language End ///

/// Call Start ///
.action-call {
    text-align: center;
    .offcanvas-body {
        .call-box {
            text-align: center;
            .call-icon {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 15px;
                font-size: 40px;
                color: $white;
                svg {
                    stroke: $white;
                    width: 35px;
                    height: 35px;
                }
            }
            .btn {
                background: unset;
                box-shadow: none;
                border: none;
                color: $white;
                padding: 10px 40px;
                background-color: $theme-success;
            }
            h2 {
                margin-bottom: 10px;
            }
            p {
                color: $content-color;
            }
        }
    }
}
/// Call End ///

/// Video Embeds Start ///
.action-video {
    .offcanvas-body {
        // padding: 8px 8px 0 8px;
        padding: 0;
        .video-iframe {
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: calc(190px + (300 - 190) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    .content-box {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        padding: 25px 10px;
        p {
            color: $content-color;
        }
    }
    .btn-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px;
        .btn {
            margin-right: 0;
            padding: 10px 40px;

            &:not(:last-of-type) {
                margin-right: 10px;
                [dir="rtl"] & {
                    margin-left: 10;
                    margin-right: unset;
                }
            }
        }
    }
}
/// Video Embeds End ///

/// Map Embeds Start ///
.action-map {
    .offcanvas-body {
        padding: 0;
        .iframe-map {
            width: 100%;
            height: calc(190px + (300 - 190) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    .content-box {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        padding: 20px;
        p {
            color: $content-color;
        }
        .btn {
            background: unset;
            box-shadow: none;
            border: none;
            background-color: $theme-success;
            margin-right: 0;
            padding: 10px 40px;
            color: $white;
        }
    }
}
/// Map Embeds End ///

/// Login Start ///
.action-login {
    padding: 20px;
    .custom-form {
        .input-box {
            input {
                padding-top: 6px;
                padding-bottom: 6px;
            }
            svg {
                width: 20px;
                height: 20px;
            }
        }
        .btn {
            margin: 0 auto;
            display: block;
            padding: 10px 60px;
            margin-bottom: 15px;
        }
    }
}
/// Login End ///

/// OTP Start ///
.action-otp {
    padding: 20px;
    .custom-form {
        h2 {
            margin-bottom: 25px;
        }
        .otp-input {
            margin-bottom: calc(35px + (60 - 35) * ((100vw - 320px) / (1920 - 320)));
            li {
                text-align: center;
                width: 35px;
                &:not(:last-of-type) {
                    margin-right: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
                }
                input {
                    width: 100%;
                }
            }
            .bg-shape {
                top: -16px;
                left: calc(-16px - (24 - 16) * ((100vw - 320px) / (1920 - 320)));
                width: calc(70px + (80 - 70) * ((100vw - 320px) / (1920 - 320)));
                height: calc(70px + (80 - 70) * ((100vw - 320px) / (1920 - 320)));
            }
        }
        .btn {
            padding: 10px 60px;
            margin: 0 auto;
            display: block;
            margin-bottom: 10px;
        }
    }
}
/// OTP End ///

/*=====================
    Toast
==========================*/
/// Toast ///
.toast {
    position: fixed;
    padding: 8px 15px;
    border: $card-border;
    box-shadow: $box-shadow;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 250px;
    transform: translate(-50%, -50%);
    &.top-center {
        left: 50%;
        top: 70px;
    }
    &.top-left {
        left: 130px;
        top: 70px;
    }
    &.top-right {
        right: 130px;
        top: 70px;
    }
    &.bottom-center {
        left: 50%;
        bottom: 80px;
    }
    &.bottom-left {
        bottom: 80px;
        left: 130px;
    }
    &.bottom-right {
        bottom: 80px;
        right: 130px;
    }

    span {
        display: flex;
        align-items: center;
        .toast-close {
            width: 20px;
            height: 20px;
            margin-left: auto;
            margin-right: 0;
        }
    }
}
/// Success Start ///
.toast-success,
.toast-cl-success {
    background-color: $theme-green;
    span {
        svg {
            margin-right: 8px;
            stroke: $title-color;
        }
    }
}
/// Success End ///

/// Progress Start ///
.toast-progress,
.toast-cl-progress {
    background-color: $theme-blue;
    span {
        img {
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
    }
}
/// Progress End ///

/// Info Start ///
.toast-info,
.toast-cl-info {
    background-color: $theme-purple;
    span {
        img {
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
    }
}
/// Info End ///

/// Warning Start ///
.toast-warning,
.toast-cl-warning {
    background-color: $theme-yellow;
    span {
        img {
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
    }
}
/// Warning End ///

/// Warning Start ///
.toast-danger,
.toast-cl-danger {
    background-color: $theme-orange;
    span {
        display: flex;
        align-items: center;
        svg {
            width: 18px;
            height: 18px;
            margin-right: 8px;
        }
    }
}
/// Warning End ///

/*=====================
    Notification
==========================*/
/// notification Start ///
.notification {
    border: $card-border;
    border-radius: 10px;
    width: calc(290px + (570 - 290) * ((100vw - 320px) / (1920 - 320)));
    position: fixed;
    left: 50%;
    top: -300px;
    transform: translateX(-50%);
    background-color: $white;
    transition: all 0.3s linear;
    .notification-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba($border-color, 0.1);
        padding: 8px 15px;
        span {
            font-size: 13px;
            color: $content-color;
            font-weight: normal;
        }
        .notifi-name {
            display: flex;
            align-items: center;
            svg {
                width: 16px;
                height: 16px;
                margin-right: 5px;
                [dir="rtl"] & {
                    margin-left: 5px;
                    margin-right: unset;
                }
            }
        }
    }
    .main {
        padding: 15px;
        h2 {
            font-size: 15px;
            margin-bottom: 2px;
        }
        p {
            font-size: 14px;
            color: $content-color;
            margin-bottom: 0;
        }
    }
    &.show {
        top: 10px;
    }
    &.notifi-a1 {
        .main {
            .media {
                align-items: flex-start;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    border: $card-border;
                    padding: 2px;
                }
                .media-body {
                    width: calc(100% - 50px);
                    h2 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span {
                            font-size: 13px;
                            color: $content-color;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    &.notifi-a2 {
        .main {
            .media {
                align-items: flex-start;
                padding-bottom: 15px;
                width: 100%;
                svg {
                    flex: 0 0 24px;
                    width: 24px;
                    height: 24px;
                }
                .media-body {
                    width: calc(100% - 24px);
                    h2 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span {
                            font-size: 13px;
                            color: $content-color;
                            font-weight: normal;
                        }
                    }
                }
            }
            .option {
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding-top: 15px;
                border-top: 1px solid rgba($border-color, 0.1);
                span {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: $content-color;
                    cursor: pointer;

                    svg {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                        [dir="rtl"] & {
                            margin-left: 5px;
                            margin-right: unset;
                        }
                    }
                }
            }
        }
    }
    &.notifi-call {
        @extend .notifi-a1;
        .media {
            padding-bottom: 15px;
            align-items: center;
        }
        .option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 15px;
            border-top: 1px solid rgba($border-color, 0.1);
            span {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: $content-color;
                cursor: pointer;

                svg {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                    [dir="rtl"] & {
                        margin-left: 5px;
                        margin-right: unset;
                    }
                }
            }
        }
    }

    &.full {
        width: 100%;
        max-width: 600px;
        border-radius: 0;
        border: none;
    }
}
/// notification End ///
