/*=====================
    Career CSS start
==========================*/

.current-opening-section {
    position: relative;

    li {
        width: 100%;
        background-color: white;
        padding: 30px;
        box-shadow: 0 0 8px #dddddd;
        border-radius: 12px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #f1f9ff;
            z-index: -1;
            bottom: -10px;
            right: -10px;
            border-radius: 12px;
        }

        +li {
            margin-top: 30px;
        }
    }
    .opening-box {
        position: relative;

        h3 {
            font-size: 18px;
            font-weight: 600;
        }

        .opening-details {
            display: flex;
            align-items: center;
            margin-top: 10px;

            h6 {
                position: relative;
                text-transform: capitalize;

                &:after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    background-color: #c9c9c9;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                }

                +h6 {
                    margin-left: 15px;
                    padding-left: 15px;

                    &::after {
                        display: block;
                    }
                }
            }
        }

        .btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            min-width: max-content;
            padding: 8px 32px;
        }
    }
}

.perks-section {
    &.why-outsource {
        .why-us-box {
            display: block;
            .whyus-content {
                width: 100%;
                p {
                    -webkit-line-clamp: unset;
                    -webkit-box-orient: unset;
                    overflow: unset;
                }
            }
        }
    }
}