/*=====================
    Hire Page CSS start
==========================*/

.hire-home {
  &.contact-us-section {
    .contact-content {
      background-color: transparent;
      padding: 0;
      box-shadow: none;
    }
  }
}
.hire-detail-section {
  display: flex;
  align-items: center;
  height: 100%;
  // background-image: url(../images/shapes/shape-6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.4);
  h2 {
    color: $title-color;
    margin-bottom: 20px;
    font-weight: 600;
    span.effect {
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 0;
        z-index: -1;
        height: 17px;
        width: 100%;
        background-color: #fad8b0;
      }
    }
  }
  p {
    line-height: 30px;
  }
  h3 {
    line-height: 33px;
    margin-bottom: 30px;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .line-span {
    display: block;
    width: 90px;
    height: 5px;
    background-color: $theme-color;
    margin-bottom: 30px;
  }
  .contact-form {
    h3 {
      font-weight: 700;
      margin-bottom: 10px;
    }
    h4 {
      color: $content-color;
    }
  }
  .hire-detail-content {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    .top-effect {
      .dot-effect {
        position: absolute;
        left: -60px;
        top: 0;
        z-index: -1;
      }
      .bg-effect {
        position: absolute;
        left: -30%;
        top: -15%;
        z-index: -1;
        width: 70%;
        transform: rotate(45deg);
      }
    }
  }
}
.why-outsource {
  &.hire-page {
    .content-section {
      margin-bottom: 0;
    }
    .why-us-box {
      margin-left: 30px;
      align-items: center;
      .whyus-icon {
        background-color: #ffeada;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding: 14px;
        border-radius: 15px;
        margin-left: -50px;
      }
      .whyus-content {
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

// hiring modal
.model-box {
  padding: 30px 25px;
  border: 1px dashed #ddd;
  border-radius: 20px;
  box-shadow: 0 0 8px #f7f7f7;
  .modal-top {
    text-align: center;
    margin-bottom: 20px;
    .model-title {
      font-size: 24px;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 6px;
    }
  }
  .duration-box {
    padding: 20px 25px;
    border-radius: 10px;
    background-color: #eefaff;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    i {
      font-size: 50px;
      position: absolute;
      right: 20px;
      opacity: 0.03;
      bottom: 20px;
    }
    span {
      font-size: 30px;
      color: $black;
      font-weight: 600; 
      margin-right: 15px;
    }
    h4 {
      margin-bottom: 5px;
      font-weight: 600;
    }
    h6, h4 {
      color: $title-color;
    }
    &.pink-shade {
      background-color: #fff3ee;
    }
    &.purple-shade {
      background-color: #f1f3ff;
    }
  }
  .feature-section {
    padding-left: 15px;
    margin: 40px 0;
    ul {
      padding-inline-start: 40px;
    }
    li {
      display: block;
      color: $content-color;
      position: relative;
      font-size: 16px;
      &:after {
        font-family: "Font Awesome 5 Free";
        content: "\f00c";
        position: absolute;
        font-size: 16px;
        color: $content-color;
        font-weight: 900;
        left: -34px;
      }
      + li {
        margin-top: 15px;
      }
    }
  }
  .btn-theme {
    text-transform: capitalize;
    border-radius: 6px;
  }
}

// comparision table
.comparision-section {
  position: relative;
  z-index: 1;
  background-image: url(https://image.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.83);
  background-blend-mode: overlay;
}
