/*=====================
    Home Page CSS start
==========================*/

// service section
.service-section {
    position: relative;
    z-index: 1;
    .right-round {
        position: absolute;
        right: 0;
        text-align: right;
        top: -10%;
    }
    .service-box {
        display: flex;
        .service-icon {
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
        svg {
            margin-right: 40px;
            width: 60%;
        }
        img {
            width: 56px;
        }
        .service-content {
            width: 80%;
            h3 {
                display: flex;
                align-items: center;
                svg,
                img {
                    width: 40px;
                    margin-right: 20px;
                }
            }
            p {
                margin-top: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .service-list {
                margin-bottom: -5px;
                li {
                    font-size: 16px;
                    margin-bottom: 5px;
                    a {
                        color: $title-color;
                    }
                    + li {
                        margin-left: 8px;
                        padding-left: 8px;
                        border-left: 1px solid #dddddd;
                    }
                }
            }
        }
    }
    .section-row {
        box-shadow: 0px 2px 20px rgba(123, 149, 162, 0.15);
        border-radius: 25px;
        backdrop-filter: blur(6px);
        background-color: rgba($white, 0.4);
        padding: 40px;
    }
}

// logo section
.logo-section {
    text-align: center;
    margin-top: -30px;
    h2 {
        margin-top: -10px;
    }
    .slick-slider {
        padding-top: 50px;
        .logo-box {
            img {
                margin: 0 auto;
            }
        }
    }
}

// technology section
.technology-section {
    background: #fbf3ec;
    position: relative;
    z-index: 1;
    // margin-top: 40px;
    // margin-bottom: 44px;
    .tech-effect {
        position: absolute;
        top: -120px;
        z-index: 1;
        left: -10%;
        filter: invert(1);
        width: 20%;
    }
    &::after {
        // content: "";
        position: absolute;
        top: -55px;
        left: 0;
        width: 100%;
        background-image: url(../images/shapes/shape-1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 55px;
    }
    &::before {
        // content: "";
        position: absolute;
        bottom: -43px;
        left: 0;
        width: 100%;
        background-image: url(../images/shapes/shape-2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 55px;
    }
    .nav-tabs {
        justify-content: center;
        .nav-link {
            color: $content-color;
            font-size: 18px;
            padding: 0 25px 8px;
            border: none;
            text-transform: capitalize;
            &.active {
                background-color: transparent;
                color: $theme-color;
                border-bottom: 1px solid $theme-color;
            }
        }
    }
    .tab-content {
        display: block;
        width: 80%;
        margin: 50px auto 0;
        .tab-pane {
            &.active,
            &.show {
                .tech-box {
                    animation: zoomIn 300ms ease-in-out;
                }
            }
        }
    }
    .tech-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        h5 {
            margin-top: 22px;
            text-transform: uppercase;
        }
        .tech-icon {
            box-shadow: 15px 30px 50px rgba(23, 32, 90, 0.06);
            background-color: $white;
            border-radius: 10px;
            width: 130px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 28px;
            transform: scale(1);
            transition: all 0.5s ease;
        }
        &.xl-box {
            .tech-icon {
                width: 130px;
                height: 130px;
            }
        }
        &.lg-box {
            .tech-icon {
                width: 110px;
                height: 110px;
            }
        }
        &:hover {
            .tech-icon {
                transform: scale(1.05);
                transition: all 0.5s ease;
            }
        }
    }
    .tech-wrap {
        background-color: $white;
        padding: 30px;
        border-radius: 10px;
        height: 100%;
        min-height: 250px;
        box-shadow: rgba(22, 31, 39, 0.05) 0px 60px 123px -25px, rgba(19, 26, 32, 0.06) 0px 35px 75px -35px;
        position: relative;
        .wrap-title {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            margin-bottom: 15px;
            img {
                width: 42px;
                margin-right: 15px;
            }
        }
        .content {
            ul {
                padding-inline-start: 20px;
                li {
                    display: list-item;
                    color: $content-color;
                    line-height: 1.7;
                    a {
                        color: $content-color;
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                }
                &.column-2 {
                    column-count: 2;
                }
            }
        }
        .animated-icon {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 30%;
            opacity: 0.08;
        }
    }
}

// hiring process
.hiring-section {
    .hiring-box {
        text-align: center;
        img {
            width: 54%;
            margin: 0 auto;
        }
        .hiring-content {
            margin-top: 15px;
            h3 {
                margin-bottom: 6px;
            }
        }
    }
    .row {
        > div {
            + div {
                .hiring-box {
                    .hiring-icon {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            background-image: url(../images/shapes/shape-3.svg);
                            background-repeat: no-repeat;
                            left: -80px;
                            width: 130px;
                            height: 27px;
                            top: 50%;
                            transform: translateY(-50%) scale(0.8);
                            transform-origin: center;
                        }
                    }
                }
            }
        }
    }
}

// why outsource
.why-outsource {
    background-color: #eefaff;
    position: relative;
    margin-bottom: 40px;
    &::after {
        // content: "";
        position: absolute;
        top: -55px;
        left: 0;
        width: 100%;
        background-image: url(../images/shapes/shape-4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 55px;
    }
    &::before {
        // content: "";
        position: absolute;
        bottom: -43px;
        left: 0;
        width: 100%;
        background-image: url(../images/shapes/shape-5.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 55px;
    }
    .title {
        display: flex;
        align-items: center;
        height: 100%;
        text-align: left;
        p {
            width: 100%;
        }
    }
    .why-us-box {
        padding: 35px;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        box-shadow: 15px 30px 50px rgba(23, 32, 90, 0.06);
        .whyus-content {
            width: 80%;
            h3 {
                margin-bottom: 12px;
            }
            p {
                line-height: 28px;
            }
        }
        .whyus-icon {
            position: relative;
            background-color: white;
            display: inline-block;
            width: 70px;
            height: 70px;
            padding-right: 25px;
        }
    }
    .slick-list {
        margin: 0 -15px;
        .slick-slide {
            > div {
                margin: 0 15px;
            }
        }
    }
    .content-section {
        margin-bottom: -40px;
    }
    .feature-lisitng {
        column-count: 2;
        padding-inline-start: 20px;
        margin-top: 15px;
        li {
            display: list-item;
            font-size: 18px;
            color: grey;
            line-height: 30px;
        }
    }
}

// development process
.development-section {
    .arrow-effect {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            left: 25px;
            right: 0;
            height: 100%;
            display: block;
            background-image: url(https://themes.pixelstrap.com/multikart/assets/images/vendor/step-arrow.png);
            background-repeat: no-repeat;
            background-size: contain;
            top: 50%;
            z-index: -1;
            width: calc(100% - 50px);
        }
        > div {
            &:nth-child(1) {
                .development-icon {
                    background-color: #ffedf6;
                }
            }
            &:nth-child(2) {
                .development-icon {
                    background-color: #e5f7ff;
                }
            }
            &:nth-child(3) {
                .development-icon {
                    background-color: #f8efe6;
                }
            }
            &:nth-child(4) {
                .development-icon {
                    background-color: #efeaf5;
                }
            }
            &:nth-child(even) {
                .development-box {
                    margin-top: 30px;
                }
            }
        }
    }
    .development-box {
        background-color: $white;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        padding: 30px;
        transition: all 0.5s ease;
        .development-icon {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            padding: 15px;
            img {
                width: auto;
            }
        }
        .development-content {
            margin-top: 20px;
            h3 {
                text-transform: capitalize;
                margin-bottom: 14px;
            }
        }
        &:hover {
            transform: translateY(-10px);
            transition: all 0.5s ease;
        }
    }
}

// testimonial section
.testimonial-section {
    background: #fbf3ec;
    position: relative;
    .title {
        // text-align: left;
        // display: flex;
        // align-items: center;
        // height: 100%;
        // p {
        //     width: 100%;
        // }
    }
    .testimonial-row {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: -30px;
            height: 100%;
            top: 4px;
            width: 100px;
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%,rgba(255,255,255,0) 4%,rgba(251, 243, 237, 1) 97%,rgba(251, 243, 237, 1) 100%);
            z-index: 1;
        }
        &::before {
            content: "";
            position: absolute;
            right: -30px;
            height: 100%;
            top: 4px;
            width: 100px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(255,255,255,0) 4%,rgba(251, 243, 237, 1) 97%,rgba(251, 243, 237, 1) 100%);
            z-index: 1;
        }
    }
    .slick-list {
        margin: 0 -15px;
        .slick-slide {
            > div {
                margin: 0 15px;
            }
        }
    }
    .slick-dots {
        position: relative;
        li {
            button {
                &:before {
                    font-size: 12px;
                    color: $theme-color;
                }
            }
        }
    }
    .testimonial-box {
        padding: 6px;
        border-radius: 10px;
        background-color: $white;
        box-shadow: rgba(22, 31, 39, 0.05) 0px 0 123px -25px, rgba(19, 26, 32, 0.06) 0 0 75px -35px;
        .testimonial-img {
            border-radius: 5px;
            position: relative;
        }
        .testimonial-content {
            h3 {
                color: $title-color;
                margin-top: 15px;
            }
            h5 {
                font-weight: 400;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.5;
            }
        }
    }
    .video-play-button {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.5);
        box-sizing: content-box;
        display: block;
        width: 32px;
        height: 44px;
        border-radius: 50%;
        padding: 18px 20px 18px 28px;
        span {
            display: block;
            position: relative;
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 32px solid $theme-color;
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 80px;
            height: 80px;
            background-color: $white;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
        }
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 80px;
            height: 80px;
            background: $white;
            border-radius: 50%;
            transition: all 200ms;
        }
        &:hover {
            &:after {
                
            }
        }
    }
    @keyframes pulse-border {
        0% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            opacity: 0;
        }
    }
}

// contact us section
.contact-us-section {
    .contact-details {
        img {
            width: 60%;
        }
        .contact-list {
            li {
                display: block;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 1.8;
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
    .contact-content {
        padding: 35px;
        background-color: rgb(242, 246, 250);
        border-radius: 10px;
        img {
            width: 50%;
            margin: 0 auto;
        }
        h2 {
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 14px;
            font-size: 50px;
        }
        p {
            font-size: 20px;
            color: $content-color;
        }
        h5 {
            margin-top: 20px;
            margin-bottom: 8px;
            color: $title-color;
            font-weight: 400;
        }
    }
}