/*=====================
    Home Page CSS start
==========================*/

.service-section {
    position: relative;
    z-index: 1;
    .right-round {
        position: absolute;
        right: 0;
        text-align: right;
        top: -10%;
    }
    .service-box {
        display: flex;
        .service-icon {
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
        svg {
            margin-right: 40px;
            width: 60%;
        }
        img {
            width: 56px;
        }
        .service-content {
            width: 80%;
            h3 {
                display: flex;
                align-items: center;
                svg, img {
                    width: 40px;
                    margin-right: 20px;
                }
            }
            p {
                margin-top: 15px;
            }
            .service-list {
                margin-bottom: -5px;
                li {
                    font-size: 16px;
                    margin-bottom: 5px;
                    a {
                        color: $dark-color;
                    }
                    + li {
                        margin-left: 8px;
                        padding-left: 8px;
                        border-left: 1px solid #dddddd;
                    }
                }
            }
        }
    }
    .section-row {
        box-shadow: 0px 2px 20px rgba(123, 149, 162, 0.15);
        border-radius: 25px;
        backdrop-filter: blur(6px);
        background-color: rgba($white, 0.4);
        padding: 40px;
    }
}

.logo-section {
    text-align: center;
    .slick-slider {
        padding-top: 50px;
        .logo-box {
            img {
                margin: 0 auto;
            }
        }
    }
}