/*=====================
   Cart & Wishlist Page CSS 
==========================*/
.cart-page {
  .cart-item-wrap {
    .swipe-to-show {
      overflow-x: hidden;
      touch-action: none;
      position: relative;
      @include shop-card;
      .media {
        width: 100%;
        transition: all 0.4s;
      }
      .delete-button {
        display: flex;
        cursor: pointer;
        background-color: $theme-color;
        padding: 14px;
        align-items: center;
        justify-content: center;
        border-radius: 0 10px 10px 0;
        transition: all 0.4s;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -60px;
        [dir="rtl"] & {
          right: unset;
          left: -60;
        }
        svg {
          stroke: $white;
          width: calc(20px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
          height: calc(20px+ (24 - 18) * ((100vw - 320px) / (1920 - 320)));
        }
      }
      &.active {
        .media {
          margin-left: -40px;
          [dir="rtl"] & {
            margin-right: -40px;
            margin-left: unset;
          }
        }
        .delete-button {
          right: 0;
          [dir="rtl"] & {
            left: 0;
            right: unset;
          }
        }
      }
    }
  }
  .coupon-ticket-wrap {
    margin-top: 10px;
    .coupon-ticket {
      background-color: $theme-light-color;
      padding: 20px;
      position: relative;

      .media {
        margin-top: calc(-3px + (-7 + 3) * ((100vw - 320px) / (1920 - 320)));
        background-color: transparent;
        gap: calc(6px + (15 - 6) * ((100vw - 320px) / (1920 - 320)));
        padding: 0;
        @media only screen and (max-width: 375px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 0;
        }
        .off {
          display: flex;
          align-items: center;
          gap: 4px;
          @media only screen and (max-width: 375px) {
            margin-top: -13px;
          }

          > span {
            &:first-of-type {
              font-size: calc(26px + (45 - 26) * ((100vw - 320px) / (1920 - 320)));
              font-weight: 700;
              color: $theme-color;
              @media only screen and (max-width: 375px) {
                font-size: 45px;
              }
            }
            &:last-of-type {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              span {
                font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
                font-weight: normal;
                color: $theme-color;
                @media only screen and (max-width: 375px) {
                  font-size: 18px;
                }
                &:first-of-type {
                  margin-bottom: calc(-6px + (-10 + 6) * ((100vw - 320px) / (1920 - 320)));
                  font-size: calc(17px + (24 - 17) * ((100vw - 320px) / (1920 - 320)));
                  @media only screen and (max-width: 375px) {
                    font-size: 26px;
                  }
                }
              }
            }
          }
        }
        .media-body {
          flex: 1 1 auto;

          h2,
          span {
            font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
          }
          h2 {
            line-height: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(-4px + (-0 + 4) * ((100vw - 320px) / (1920 - 320)));
          }
          @media only screen and (max-width: 375px) {
            text-align: center;
            h2,
            span {
              font-size: 16px;
            }
            h2 {
              margin-bottom: 0;
              line-height: 22px;
            }
          }
        }
      }
      .code {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        span {
          font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
          @media only screen and (max-width: 375px) {
            font-size: 16px;
          }
        }
        a {
          font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
          padding: calc(3px + (5 - 3) * ((100vw - 320px) / (1920 - 320))) calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
          line-height: 22px;
          background-color: $theme-color;
          color: $white;
          border-radius: 100px;
          @media only screen and (max-width: 375px) {
            font-size: 16px;
            padding: 5px 14px;
          }
        }
      }
      .big-circle {
        position: absolute;
        top: 50%;
        right: 24%;
        transform: translateY(-50%);
        @media only screen and (max-width: 375px) {
          position: relative;
          top: unset;
          right: unset;
          left: unset;
          transform: translateY(0);
        }
        [dir="rtl"] & {
          right: unset;
          left: 20%;
        }
        span {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: transparent;
          display: block;
          position: relative;
          &::before,
          &::after {
            content: "";
            left: 50%;
            transform: translateX(-50%);
            width: inherit;
            height: inherit;
            border-radius: inherit;
            background-color: $white;
            position: absolute;
          }
          &::before {
            top: -50px;
          }
          &::after {
            bottom: -50px;
          }
        }
        @media only screen and (max-width: 375px) {
          span {
            background-color: $white;
            &::before,
            &::after {
              display: none;
            }
          }
        }
      }
      .circle-5 {
        top: 32%;
        &.left {
          left: -6px;
        }
        &.right {
          right: -6px;
        }
      }
    }
  }
  .order-detail {
    h3 {
      margin-bottom: 5px;
    }
    @include order-summery;
  }
}
