/*=====================
 Category Classic Css 
==========================*/
.catagories-classic {
  .search-box {
    @include search-box;
  }
  .catagories-wrap {
    @include shop-card;
    .media {
      position: relative;
      background-color: $grey-light;
      border-radius: 8px;
      .media-body {
        p {
          margin-bottom: 0;
        }
      }
      > svg {
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: -10px;
        stroke-width: 1px;
        stroke: $theme-color;
        [dir="rtl"] & {
          margin-left: -10px;
          margin-right: auto;
          transform-origin: center;
          transform: rotate(180deg);
        }
      }
    }
  }
}
