/*=====================
 Category Classic Css 
==========================*/
.catagories-classic {
  .search-box {
    @include search-box;
  }
  .catagories-wrap {
    @include shop-card;
    .media {
      position: relative;
      background-color: $grey-light;
      border-radius: 8px;
      @media only screen and (max-width: 375px) {
        align-items: center;
      }
      .media-body {
        a {
          font-weight: 600;
        }
        p {
          margin-bottom: 0;
        }
      }
      > svg {
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: -10px;
        stroke: $theme-color;
        [dir="rtl"] & {
          margin-left: -10px;
          margin-right: auto;
          transform-origin: center;
          transform: rotate(180deg);
        }
      }
    }
  }
}
