/*=====================
   Catagories wide Page CSS 
==========================*/
.catagories-wide {
  .search-box {
    @include search-box;
  }
  .catagories-wrap {
    display: flex;
    align-items: flex-start;
    gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    .nav {
      flex: 0 0 32%;
      border-radius: 0 5px 5px 0;
      overflow: hidden;
      background-color: $theme-light-color;
      margin-left: calc(-10px + (-15 + 10) * ((100vw - 320px) / (1920 - 320)));
      [dir="rtl"] & {
        margin-right: calc(-10px + (-15 + 10) * ((100vw - 320px) / (1920 - 320)));
        margin-left: unset;
      }
      .nav-link {
        width: 100%;
        padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        &:not(:last-of-type) {
          border-bottom: 1px solid rgba($border-color2, 0.5);
        }
        .content {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));

          img {
            width: calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320)));
            height: calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320)));
          }
          span {
            font-weight: 600;
          }
        }
        &.active {
          background-color: $white;
        }
      }
    }
    .tab-content {
      flex: 1 1 auto;
      .banner-box {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        [dir="rtl"] & {
          transform: scaleX(-1);
        }
        .content-box {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
          left: 0;
          right: 0;
          [dir="rtl"] & {
            transform: translateY(-50%) scaleX(-1);
          }
          .heading {
            font-family: $font-2;
            font-weight: bold;
            margin-top: -9px;
            margin-bottom: -3px;
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(22px + (33 - 22) * ((100vw - 320px) / (1920 - 320)));
          }
          p {
            font-family: $font-2;
            margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
            margin-top: calc(5px + (0 - 5) * ((100vw - 320px) / (1920 - 320)));
            font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
            display: block;
          }
          .btn-solid {
            font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
            padding: calc(6px + (9 - 6) * ((100vw - 320px) / (1920 - 320))) calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
          }
        }
      }
      .staples-box {
        text-align: center;
        > div {
          background-color: $grey-light;
          border-radius: 6px;
          padding: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
          img {
            width: 100%;
            @media only screen and (max-width: 375px) {
              width: 80%;
            }
          }
        }
        h4 {
          margin-top: 4px;
          font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
          color: $content-color;
          font-weight: 400;
        }
      }
      .row {
        > div {
          @media only screen and (max-width: 375px) {
            flex: 0 0 auto;
            width: 50%;
          }
        }
      }
    }
  }
}
