/*=====================
  Search Page Css 
==========================*/
.search-page {
  .search-box {
    @include search-box;
  }
  .recent-search {
    overflow-x: hidden;
    ul {
      display: flex;
      align-items: center;
      gap: 15px;
      overflow-x: hidden;
      &:hover {
        overflow-x: auto;
      }

      li {
        padding: 6px 20px;
        background-color: $theme-light-color;
        border-radius: 5px;
        font-weight: normal;
        cursor: pointer;
      }
    }
  }
  .trending {
    .category {
      padding: 10px;
      border-radius: 12px;
      text-align: center;
      display: block;
      img {
        width: calc(45px + (60 - 45) * ((100vw - 320px) / (1920 - 320)));
        height: calc(45px + (60 - 45) * ((100vw - 320px) / (1920 - 320)));
        @media only screen and (max-width: 375px) {
          width: 60px;
          height: 60px;
        }
      }
    }
    .row {
      > div {
        @media only screen and (max-width: 375px) {
          flex: 0 0 auto;
          width: 50%;
        }
      }
    }
  }
  .trending-products {
    .product-wrap {
      @include shop-card;
      .media {
        background-color: $grey-light;
      }
    }
  }
}
