/*=====================
 4.22 Terms & Conditions Page CSS 
==========================*/
.terms-condition {
  .list-section {
    list-style: disc;
    padding: 0 18px;
  }
  h1 {
    margin-bottom: calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
  }
  .title-mb {
    margin-top: -6px;
    margin-bottom: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  }
  p {
    margin-top: -5px;
    margin-bottom: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
}
